{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}

  {% endblock %} | Freesport </title>

  <!-- Meta Tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="#57b28b">
  <meta name="author" content="Webestica.com">
  <meta name="description" content="Booking - Multipurpose Online Booking Theme">

  <!-- Dark mode -->
  <script>
      const storedTheme = localStorage.getItem('theme')

      const getPreferredTheme = () => {
          if (storedTheme) {
              return storedTheme
          }
          return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'
      }

      const setTheme = function (theme) {
          if (theme === 'auto' && window.matchMedia('(prefers-color-scheme: dark)').matches) {
              document.documentElement.setAttribute('data-bs-theme', 'dark')
          } else {
              document.documentElement.setAttribute('data-bs-theme', theme)
          }
      }

      setTheme(getPreferredTheme())

      window.addEventListener('DOMContentLoaded', () => {
          var el = document.querySelector('.theme-icon-active');
          if (el != 'undefined' && el != null) {
              const showActiveTheme = theme => {
                  const activeThemeIcon = document.querySelector('.theme-icon-active use')
                  const btnToActive = document.querySelector(`[data-bs-theme-value="${theme}"]`)
                  const svgOfActiveBtn = btnToActive.querySelector('.mode-switch use').getAttribute('href')

                  document.querySelectorAll('[data-bs-theme-value]').forEach(element => {
                      element.classList.remove('active')
                  })

                  btnToActive.classList.add('active')
                  activeThemeIcon.setAttribute('href', svgOfActiveBtn)
              }

              window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', () => {
                  if (storedTheme !== 'light' || storedTheme !== 'dark') {
                      setTheme(getPreferredTheme())
                  }
              })

              showActiveTheme(getPreferredTheme())

              document.querySelectorAll('[data-bs-theme-value]')
                  .forEach(toggle => {
                      toggle.addEventListener('click', () => {
                          const theme = toggle.getAttribute('data-bs-theme-value')
                          localStorage.setItem('theme', theme)
                          setTheme(theme)
                          showActiveTheme(theme)
                      })
                  })

          }
      })

  </script>

  <link rel="shortcut icon" href="{% static 'dashboard/images/favicon.ico' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap">
  <link rel="stylesheet" type="text/css" href="{% static 'dashboard/vendor/font-awesome/css/all.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'dashboard/vendor/bootstrap-icons/bootstrap-icons.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/style.css' %}">
  {% block css %}

  {% endblock %}
</head>

<body>

<!-- **************** MAIN CONTENT START **************** -->
<main>

  <!-- =======================
  Main Content START -->
  {% block content %}

  {% endblock %}

</main>
<div class="back-top"></div>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="{% static 'dashboard/vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'dashboard/js/functions.js' %}"></script>
{% block js %}

{% endblock %}

</body>
</html>