{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Freesport | Inicia sesión</title>

  <!-- Meta Tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="#57b28b">
  <meta name="author" content="Webestica.com">
  <meta name="description" content="Booking - Multipurpose Online Booking Theme">

  <!-- Dark mode -->
  <script>
      const storedTheme = localStorage.getItem('theme')

      const getPreferredTheme = () => {
          if (storedTheme) {
              return storedTheme
          }
          return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'
      }

      const setTheme = function (theme) {
          if (theme === 'auto' && window.matchMedia('(prefers-color-scheme: dark)').matches) {
              document.documentElement.setAttribute('data-bs-theme', 'dark')
          } else {
              document.documentElement.setAttribute('data-bs-theme', theme)
          }
      }

      setTheme(getPreferredTheme())

      window.addEventListener('DOMContentLoaded', () => {
          var el = document.querySelector('.theme-icon-active');
          if (el != 'undefined' && el != null) {
              const showActiveTheme = theme => {
                  const activeThemeIcon = document.querySelector('.theme-icon-active use')
                  const btnToActive = document.querySelector(`[data-bs-theme-value="${theme}"]`)
                  const svgOfActiveBtn = btnToActive.querySelector('.mode-switch use').getAttribute('href')

                  document.querySelectorAll('[data-bs-theme-value]').forEach(element => {
                      element.classList.remove('active')
                  })

                  btnToActive.classList.add('active')
                  activeThemeIcon.setAttribute('href', svgOfActiveBtn)
              }

              window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', () => {
                  if (storedTheme !== 'light' || storedTheme !== 'dark') {
                      setTheme(getPreferredTheme())
                  }
              })

              showActiveTheme(getPreferredTheme())

              document.querySelectorAll('[data-bs-theme-value]')
                  .forEach(toggle => {
                      toggle.addEventListener('click', () => {
                          const theme = toggle.getAttribute('data-bs-theme-value')
                          localStorage.setItem('theme', theme)
                          setTheme(theme)
                          showActiveTheme(theme)
                      })
                  })

          }
      })

  </script>

  <!-- Favicon -->
  <link rel="shortcut icon" href="{% static 'dashboard/images/favicon.ico' %}">

  <!-- Google Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap">
  <link rel="stylesheet" type="text/css" href="{% static 'dashboard/vendor/font-awesome/css/all.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'dashboard/vendor/bootstrap-icons/bootstrap-icons.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/style.css' %}">

</head>

<body>

<!-- **************** MAIN CONTENT START **************** -->
<main>

  <!-- =======================
  Main Content START -->
  <section class="vh-xxl-100">
    <div class="container h-100 d-flex px-0 px-sm-4">
      <div class="row justify-content-center align-items-center m-auto">
        <div class="col-12">
          <div class="bg-mode shadow rounded-3 overflow-hidden">
            <div class="row g-0">
              <!-- Vector Image -->
              <div class="col-lg-6 d-flex align-items-center order-2 order-lg-1">
                <div class="p-3 p-lg-5">
                  <img src="{% static 'dashboard/images/element/signin.svg' %}" alt="">
                </div>
                <div class="vr opacity-1 d-none d-lg-block"></div>
              </div>

              <div class="col-lg-6 order-1">
                <div class="p-4 p-sm-7">
                  <h1 class="mb-2 h3">Bienvenido de nuevo</h1>
                  <p class="mb-0">Ingresa a tu cuenta y reserva tu cancha en segundos</p>

                  <form class="mt-4 text-start" method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                      <label class="form-label">Correo electrónico</label>
                      {{ form.email }}
                    </div>
                    <div class="mb-3 position-relative">
                      <label class="form-label">Contraseña</label>
                      {{ form.password }}
                      <span class="position-absolute top-50 end-0 translate-middle-y p-0 mt-3">
											<i class="fakepasswordicon fas fa-eye-slash cursor-pointer p-2"></i>
										</span>
                    </div>
                    <div class="mb-3 d-sm-flex justify-content-between">
                      <div>
                      </div>
                      <a href="#">¿Olvidaste tu contraseña?</a>
                    </div>
                    <!-- Button -->
                    <div>
                      <button type="submit" class="btn btn-primary btn-lg w-100 mb-0">
                        Iniciar sesión
                        <i class="ms-3 fa-solid fa-sign-in-alt"></i>
                      </button>
                    </div>

                    {% if errors %}
                      <div class="alert alert-danger mt-3">
                        {% for error in errors %}
                          {{ error }}
                        {% endfor %}
                      </div>
                    {% endif %}

                    <div class="position-relative my-4">
                      <hr>
                      <p class="small bg-mode position-absolute top-50 start-50 translate-middle px-2">¿Aún no juegas
                        con nosotros?</p>
                    </div>

                    <div class="vstack gap-3">
                      <a href="{% url 'signup' %}" class="btn btn-primary-soft btn-lg mb-0">
                        Únete ahora
                        <i class="ms-3 fas fa-user-plus "></i>
                      </a>
                    </div>

                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>
<div class="back-top"></div>

<script src="{% static 'dashboard/vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'dashboard/js/functions.js' %}"></script>
</body>
</html>