<ul class="nav nav-pills-primary-soft flex-column">
  <li class="nav-item ">
    <a class="nav-link {% if 'mi-cuenta' in request.path %} active{% endif %}" href="{% url 'user-account' %}">
      <i class="bi bi-person fa-fw me-2"></i>
      Mi cuenta
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if 'mis-reservas' in request.path %} active{% endif %}"
       href="{% url 'user-account-booking' %}">
      <i class="bi bi-ticket-perforated fa-fw me-2"></i>
      Mis reservas
    </a>
  </li>
  <li class="nav-item ">
    <a class="nav-link {% if 'user/cambiar-contrasena' in request.path %} active{% endif %}"
       href="{% url 'user-account-change-password' %}">
      <i class="bi bi-passport fa-fw me-2"></i>
      Cambiar contraseña
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-danger bg-danger-soft-hover" href="{% url 'logout' %}"><i
        class="fas fa-sign-out-alt fa-fw me-2"></i>Cerrar sesión</a>
  </li>
</ul>