{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}

  {% endblock %} | Freesport</title>

  <!-- Meta Tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="#57b28b">
  <meta name="author" content="Webestica.com">
  <meta name="description" content="Booking - Multipurpose Online Booking Theme">

  <!-- Dark mode -->
  <script>
      const storedTheme = localStorage.getItem('theme')

      const getPreferredTheme = () => {
          if (storedTheme) {
              return storedTheme
          }
          return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'
      }

      const setTheme = function (theme) {
          if (theme === 'auto' && window.matchMedia('(prefers-color-scheme: dark)').matches) {
              document.documentElement.setAttribute('data-bs-theme', 'dark')
          } else {
              document.documentElement.setAttribute('data-bs-theme', theme)
          }
      }

      setTheme(getPreferredTheme())

      window.addEventListener('DOMContentLoaded', () => {
          var el = document.querySelector('.theme-icon-active');
          if (el != 'undefined' && el != null) {
              const showActiveTheme = theme => {
                  const activeThemeIcon = document.querySelector('.theme-icon-active use')
                  const btnToActive = document.querySelector(`[data-bs-theme-value="${theme}"]`)
                  const svgOfActiveBtn = btnToActive.querySelector('.mode-switch use').getAttribute('href')

                  document.querySelectorAll('[data-bs-theme-value]').forEach(element => {
                      element.classList.remove('active')
                  })

                  btnToActive.classList.add('active')
                  activeThemeIcon.setAttribute('href', svgOfActiveBtn)
              }

              window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', () => {
                  if (storedTheme !== 'light' || storedTheme !== 'dark') {
                      setTheme(getPreferredTheme())
                  }
              })

              showActiveTheme(getPreferredTheme())

              document.querySelectorAll('[data-bs-theme-value]')
                  .forEach(toggle => {
                      toggle.addEventListener('click', () => {
                          const theme = toggle.getAttribute('data-bs-theme-value')
                          localStorage.setItem('theme', theme)
                          setTheme(theme)
                          showActiveTheme(theme)
                      })
                  })

          }
      })

  </script>

  <!-- Favicon -->
  <link rel="shortcut icon" href="{% static 'frontend/img/logo.ico' %}">

  <!-- Google Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap">

  <!-- Plugins CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'dashboard/vendor/font-awesome/css/all.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'dashboard/vendor/bootstrap-icons/bootstrap-icons.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'dashboard/vendor/aos/aos.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'dashboard/vendor/flatpickr/css/flatpickr.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'dashboard/vendor/choices/css/choices.min.css' %}">

  <!-- Theme CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/style.css' %}">

</head>

<body class="dashboard">

<!-- Header START -->
{% include 'users/user_header_base.html' %}

<main>

  {% block content %}

  {% endblock %}
</main>

<footer class="bg-dark p-3">
  <div class="container">
    <div class="row align-items-center">

      <!-- Widget -->
      <div class="col-md-4">
        <div class="text-center text-md-start mb-3 mb-md-0">
          <a href="index.html"> <img class="h-30px" src="{% static 'dashboard/images/logo-light.svg' %}" alt="logo">
          </a>
        </div>
      </div>

      <!-- Widget -->
      <div class="col-md-4">
        <div class="text-body-secondary text-primary-hover"> Copyrights © 2024. Desarrollado por <a href="#"
                                                                                                    class="text-body-secondary">Freesport</a>.
        </div>
      </div>

      <!-- Widget -->
      <div class="col-md-4">
        <ul class="list-inline mb-0 text-center text-md-end">
          <li class="list-inline-item ms-2"><a href="#"><i class="text-white fab fa-facebook"></i></a></li>
          <li class="list-inline-item ms-2"><a href="#"><i class="text-white fab fa-instagram"></i></a></li>
          <li class="list-inline-item ms-2"><a href="#"><i class="text-white fab fa-linkedin-in"></i></a></li>
          <li class="list-inline-item ms-2"><a href="#"><i class="text-white fab fa-twitter"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!-- =======================
Footer END -->

<!-- Back to top -->
<div class="back-top"></div>

<!-- Bootstrap JS -->
<script src="{% static 'dashboard/vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>

<!-- Vendors -->
<script src="{% static 'dashboard/vendor/aos/aos.js' %}"></script>
<script src="{% static 'dashboard/vendor/flatpickr/js/flatpickr.min.js' %}"></script>
<script src="{% static 'dashboard/vendor/choices/js/choices.min.js' %}"></script>

<!-- ThemeFunctions -->
<script src="{% static 'dashboard/js/functions.js' %}"></script>

</body>
</html>