{% extends 'frontend/frontend_base.html' %}
{% load static %}
{% block title %}
  Realizar pago
{% endblock %}


{% block content %}
  <main>
    <section>
      <div class="container">
        <div class="row g-4 g-lg-5">
          <div class="col-xl-8">
            <div class="vstack gap-5">
              <div class="card shadow">
                <div class="card-header border-bottom p-4">
                  <h4 class="card-title mb-0">Realiza el pago</h4>
                </div>
                <div class="card-body p-4 pb-0">
                  <div class="accordion accordion-icon accordion-bg-light" id="accordioncircle">
                    <div class="accordion-item mb-3">
                      <h6 class="accordion-header" id="heading-1">
                        <button class="accordion-button rounded collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
                          <i class="bi bi-phone text-primary me-2"></i> <span
                            class="me-5">Pagar con Yape</span>
                        </button>
                      </h6>
                      <div id="collapse-1" class="accordion-collapse collapse show" aria-labelledby="heading-1"
                           data-bs-parent="#accordioncircle">
                        <div class="accordion-body">
                          <p class="mt-3">
                            pagar con Yape, escanea el código QR o envía tu pago al número 918387410.</p>
                          <img src="{% static 'dashboard/images/gallery/yapeqr.webp' %}" alt="Código QR Yape"
                               style="max-width: 100px;">
                          <div class="alert alert-info">
                            Una vez hecho he pago con Yape por favor ingresa el número de celular con el que ha pagodo y
                            adjunta el comprobante de pago.
                          </div>
                          <form class="row g-3" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="col-6">
                              <label class="form-label"><span class="h6 fw-normal">Número de celular</span></label>
                              <div class="position-relative">
                                <input type="text" class="form-control" maxlength="14"
                                       placeholder="Ingresa el número de celular" name="phone">
                                <input type="hidden" name="payment_method" value="1">
                                <input type="hidden" name="start_time">
                                <input type="hidden" name="end_time">
                                <input type="hidden" name="field_id" value="{{ field.id }}">
                              </div>
                            </div>
                            <div class="col-md-6">
                              <label class="form-label"><span class="h6 fw-normal">Subir comprobante</span></label>
                              <input type="file" class="form-control" maxlength="3" placeholder="xxx" name="voucher">
                            </div>
                            <div class="col-12">
                              <div class="d-sm-flex justify-content-sm-between align-items-center">
                                <h4 class="totalAPagarYape" id="totalAPagarYape">
                                </h4>
                                <button type="submit" class="btn btn-primary mb-0">Pagar ahora</button>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item mb-3">
                      <h6 class="accordion-header" id="heading-3">
                        <button class="accordion-button collapsed rounded" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
                          <i class="bi bi-phone text-primary me-2"></i><span class="me-5">Pagar con Plin</span>
                        </button>
                      </h6>
                      <div id="collapse-3" class="accordion-collapse collapse" aria-labelledby="heading-3"
                           data-bs-parent="#accordioncircle">
                        <!-- Accordion body -->
                        <div class="accordion-body">
                          <p class="mt-3">
                            pagar con Yape, escanea el código QR o envía tu pago al número 918387410.</p>
                          <img src="{% static 'dashboard/images/gallery/yapeqr.webp' %}" alt="Código QR Yape"
                               style="max-width: 100px;">
                          <div class="alert alert-info">
                            Una vez hecho he pago con Plin por favor ingresa el número de celular con el que ha pagodo y
                            adjunta el comprobante de pago.
                          </div>
                          <form class="row g-3">
                            <div class="col-6">
                              <label class="form-label"><span class="h6 fw-normal">Número de celular</span></label>
                              <div class="position-relative">
                                <input type="text" class="form-control" maxlength="14"
                                       placeholder="Ingresa el número de celular">
                              </div>
                            </div>
                            <div class="col-md-6">
                              <label class="form-label"><span class="h6 fw-normal">Subir comprobante</span></label>
                              <input type="file" class="form-control" maxlength="3" placeholder="xxx">
                            </div>
                            <div class="col-12">
                              <div class="d-sm-flex justify-content-sm-between align-items-center">
                                <h4 class="totalAPagarYape" id="totalAPagarPlin">
                                </h4>
                                <button class="btn btn-primary mb-0">Pagar ahora</button>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-footer p-4 pt-0">
                  <p class="mb-0">Al realizar el pago estás aceptando nuestros <a href="#">Términos y condiciones</a>,
                    también <a href="#">Política de devoluciones.</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <aside class="col-xl-4">
            <div class="row g-4">

              <div class="col-md-6 col-xl-12">
                <div class="card shadow rounded-2">
                  <!-- card header -->
                  <div class="card-header border-bottom">
                    <h5 class="card-title mb-0">Datos de tu reserva</h5>
                  </div>

                  <!-- Card body -->
                  <div class="card-body">
                    <ul class="list-group list-group-borderless">
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span class="h6 fw-light mb-0">Fecha</span>
                        <span class="fs-5 fecha">01/02/2023</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span class="h6 fw-light mb-0">Hora</span>
                        <span class="fs-5 text-success hora">7pm - 9pm</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span class="h6 fw-light mb-0">Precio a pagar</span>
                        <span class="fs-5" id="precioAPagar">S/ 00.00</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span class="h6 fw-light mb-0">Comisiones</span>
                        <span class="fs-5" id="comisiones">S/ 00.00</span>
                      </li>

                    </ul>
                  </div>

                  <!-- Card footer -->
                  <div class="card-footer border-top">
                    <div class="d-flex justify-content-between align-items-center">
                      <span class="h5 mb-0">Total a pagar</span>
                      <span class="h5 mb-0" id="totalAPagar">S/ 00.00</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-xl-12">
                <div class="card card-body bg-light p-4">
                  <!-- Title -->
                  <h4 class="card-title">¿Necesitas ayuda?</h4>

                  <!-- List -->
                  <ul class="list-group list-group-borderless">
                    <li class="list-group-item py-3">
                      <a href="#" class="h6 mb-0">
                        <i class="bi fa-fw bi-whatsapp text-primary fs-5 me-2"></i>
                        <span class="fw-light me-1">Escríbenos:</span>918387410
                      </a>
                    </li>

                  </ul>
                </div>
              </div>
            </div>
          </aside>
        </div>
      </div>
    </section>
  </main>
{% endblock %}

{% block js %}
  <script>
      document.addEventListener('DOMContentLoaded', function () {
          // Recuperar los valores desde localStorage
          const startTime = localStorage.getItem('startTime');
          const endTime = localStorage.getItem('endTime');
          const startDate = new Date(startTime);
          const endDate = new Date(endTime);

          const options = {year: 'numeric', month: '2-digit', day: '2-digit'};
          const fecha = startDate.toLocaleDateString('es-PE', options);

          const horaInicio = startDate.toLocaleTimeString('es-PE', {hour: '2-digit', minute: '2-digit'});
          const horaFin = endDate.toLocaleTimeString('es-PE', {hour: '2-digit', minute: '2-digit'});

          document.querySelector('.card-body .list-group .fecha').textContent = fecha;
          document.querySelector('.card-body .list-group .hora').textContent = `${horaInicio} - ${horaFin}`;

          document.querySelector('input[name="start_time"]').value = startTime;
          document.querySelector('input[name="end_time"]').value = endTime;

          fetchBookingData()

      });


      function fetchBookingData() {
          const startTime = localStorage.getItem('startTime');
          const endTime = localStorage.getItem('endTime');
          const fieldId = localStorage.getItem('fieldId');

          if (!startTime || !endTime) {
              alert("Por favor, completa todos los campos para continuar.");
              return;
          }

          fetch('/api/data-booking/', {
              method: 'POST',
              headers: {
                  'Content-Type': 'application/json',
              },
              body: JSON.stringify({
                  fieldId: fieldId,
                  startTime: startTime,
                  endTime: endTime
              })
          }).then(response => {
              if (!response.ok) {
                  throw new Error('Respuesta de red no fue ok');
              }
              return response.json();
          },).then(data => {
              const priceToPay = parseFloat(data.priceToPay);
              const commission = parseFloat(data.commission);
              const totalToPay = parseFloat(data.totalToPay);

              document.getElementById('precioAPagar').textContent = `S/ ${priceToPay.toFixed(2)}`;
              document.getElementById('comisiones').textContent = `S/ ${commission.toFixed(2)}`;
              document.getElementById('totalAPagar').textContent = `S/ ${totalToPay.toFixed(2)}`;
          },)
              .catch(error => {
                  console.error('Error al crear la reserva:', error);
                  alert("Ocurrió un error al crear la reserva.");
              },);
      }

  </script>
{% endblock %}
