{% extends 'frontend/frontend_base.html' %}
{% load static %}
{% block title %}
  Realizar pago
{% endblock %}


{% block content %}
  <main>
    <section>
      <div class="container">
        <div class="row g-4 g-lg-5">
          <div class="col-xl-8">
            <div class="vstack gap-5">
              <div class="card shadow">
                <div class="card-header border-bottom p-4">
                  <h4 class="card-title mb-0">Realiza el pago</h4>
                </div>
                <div class="card-body p-4 pb-0">
                  <div class="accordion accordion-icon accordion-bg-light" id="accordioncircle">
                    <div class="accordion-item mb-3">
                      <h6 class="accordion-header" id="heading-1">
                        <button class="accordion-button rounded collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
                          <i class="bi bi-phone text-primary me-2"></i> <span
                            class="me-5">Pagar con Yape</span>
                        </button>
                      </h6>
                      <div id="collapse-1" class="accordion-collapse collapse show" aria-labelledby="heading-1"
                           data-bs-parent="#accordioncircle">
                        <div class="accordion-body">
                          <p class="mt-3">
                            pagar con Yape, escanea el código QR o envía tu pago al número 918387410.</p>
                          <img src="{% static 'dashboard/images/gallery/yapeqr.webp' %}" alt="Código QR Yape"
                               style="max-width: 100px;">
                          <div class="alert alert-info">
                            Una vez hecho he pago con Yape por favor ingresa el número de celular con el que ha pagodo y
                            adjunta el comprobante de pago.
                          </div>
                          <form class="row g-3">
                            <div class="col-6">
                              <label class="form-label"><span class="h6 fw-normal">Número de celular</span></label>
                              <div class="position-relative">
                                <input type="text" class="form-control" maxlength="14"
                                       placeholder="Ingresa el número de celular">
                              </div>
                            </div>
                            <div class="col-md-6">
                              <label class="form-label"><span class="h6 fw-normal">Subir comprobante</span></label>
                              <input type="file" class="form-control" maxlength="3" placeholder="xxx">
                            </div>
                            <div class="col-12">
                              <div class="d-sm-flex justify-content-sm-between align-items-center">
                                <h4>S/ 144.00 <span class="small fs-6"> completo</span></h4>
                                <a href="{% url 'booking_confirmed' %}" class="btn btn-primary mb-0">Pagar ahora</a>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item mb-3">
                      <h6 class="accordion-header" id="heading-3">
                        <button class="accordion-button collapsed rounded" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
                          <i class="bi bi-phone text-primary me-2"></i><span class="me-5">Pagar con Plin</span>
                        </button>
                      </h6>
                      <div id="collapse-3" class="accordion-collapse collapse" aria-labelledby="heading-3"
                           data-bs-parent="#accordioncircle">
                        <!-- Accordion body -->
                        <div class="accordion-body">
                          <p class="mt-3">
                            pagar con Yape, escanea el código QR o envía tu pago al número 918387410.</p>
                          <img src="{% static 'dashboard/images/gallery/yapeqr.webp' %}" alt="Código QR Yape"
                               style="max-width: 100px;">
                          <div class="alert alert-info">
                            Una vez hecho he pago con Plin por favor ingresa el número de celular con el que ha pagodo y
                            adjunta el comprobante de pago.
                          </div>
                          <form class="row g-3">
                            <div class="col-6">
                              <label class="form-label"><span class="h6 fw-normal">Número de celular</span></label>
                              <div class="position-relative">
                                <input type="text" class="form-control" maxlength="14"
                                       placeholder="Ingresa el número de celular">
                              </div>
                            </div>
                            <div class="col-md-6">
                              <label class="form-label"><span class="h6 fw-normal">Subir comprobante</span></label>
                              <input type="file" class="form-control" maxlength="3" placeholder="xxx">
                            </div>
                            <div class="col-12">
                              <div class="d-sm-flex justify-content-sm-between align-items-center">
                                <h4>S/ 144.00 <span class="small fs-6"> completo</span></h4>
                                <button class="btn btn-primary mb-0">Pagar ahora</button>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item mb-3">
                      <h6 class="accordion-header" id="heading-2">
                        <button class="accordion-button collapsed rounded" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
                          <i class="bi bi-globe2 text-primary me-2"></i> <span
                            class="me-5">Pagar con transferencia</span>
                        </button>
                      </h6>
                      <div id="collapse-2" class="accordion-collapse collapse" aria-labelledby="heading-2"
                           data-bs-parent="#accordioncircle">
                        <!-- Accordion body -->
                        <div class="accordion-body">

                          <!-- Form START -->
                          <form class="row g-3 mt-1">

                            <!-- Popular bank -->
                            <ul class="list-inline mb-0">

                              <li class="list-inline-item"><h6 class="mb-0">Popular Bank:</h6></li>
                              <!-- Rent -->
                              <li class="list-inline-item">
                                <input type="radio" class="btn-check" name="options" id="option1">
                                <label class="btn btn-light btn-primary-soft-check" for="option1">
                                  <img src="assets/images/element/13.svg" class="h-20px me-2" alt="">Bank of America
                                </label>
                              </li>
                              <!-- Sale -->
                              <li class="list-inline-item">
                                <input type="radio" class="btn-check" name="options" id="option2">
                                <label class="btn btn-light btn-primary-soft-check" for="option2">
                                  <img src="assets/images/element/15.svg" class="h-20px me-2" alt="">Bank of Japan
                                </label>
                              </li>
                              <!-- Buy -->
                              <li class="list-inline-item">
                                <input type="radio" class="btn-check" name="options" id="option3">
                                <label class="btn btn-light btn-primary-soft-check" for="option3">
                                  <img src="assets/images/element/14.svg" class="h-20px me-2" alt="">VIVIV Bank
                                </label>
                              </li>
                            </ul>

                            <p class="mb-1">In order to complete your transaction, we will transfer you over to Booking
                              secure servers.</p>
                            <p class="my-0">Select your bank from the drop-down list and click proceed to continue with
                              your payment.</p>
                            <!-- Select bank -->
                            <div class="col-md-6">
                              <select class="form-select form-select-sm js-choice border-0">
                                <option value="">Please choose one</option>
                                <option>Bank of America</option>
                                <option>Bank of India</option>
                                <option>Bank of London</option>
                              </select>
                            </div>

                            <!-- Button -->
                            <div class="d-grid">
                              <button class="btn btn-success mb-0">Pay $1800</button>
                            </div>

                          </form>
                          <!-- Form END -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-footer p-4 pt-0">
                  <p class="mb-0">Al realizar el pago estás aceptando nuestros <a href="#">Términos y condiciones</a>,
                    también <a href="#">Política de devoluciones.</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <aside class="col-xl-4">
            <div class="row g-4">

              <div class="col-md-6 col-xl-12">
                <div class="card shadow rounded-2">
                  <!-- card header -->
                  <div class="card-header border-bottom">
                    <h5 class="card-title mb-0">Datos de tu reserva</h5>
                  </div>

                  <!-- Card body -->
                  <div class="card-body">
                    <ul class="list-group list-group-borderless">
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span class="h6 fw-light mb-0">Fecha</span>
                        <span class="fs-5">01/02/2023</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span class="h6 fw-light mb-0">Hora</span>
                        <span class="fs-5 text-success">7pm - 9pm</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span class="h6 fw-light mb-0">Precio por hora</span>
                        <span class="fs-5">S/ 70.00</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span class="h6 fw-light mb-0">Comisiones</span>
                        <span class="fs-5">S/ 2.00</span>
                      </li>
                    </ul>
                  </div>

                  <!-- Card footer -->
                  <div class="card-footer border-top">
                    <div class="d-flex justify-content-between align-items-center">
                      <span class="h5 mb-0">Total a pagar</span>
                      <span class="h5 mb-0">S/ 144.00</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-xl-12">
                <div class="card card-body bg-light p-4">
                  <!-- Title -->
                  <h4 class="card-title">¿Necesitas ayuda?</h4>

                  <!-- List -->
                  <ul class="list-group list-group-borderless">
                    <li class="list-group-item py-3">
                      <a href="#" class="h6 mb-0">
                        <i class="bi fa-fw bi-whatsapp text-primary fs-5 me-2"></i>
                        <span class="fw-light me-1">Escríbenos:</span>918387410
                      </a>
                    </li>

                  </ul>
                </div>
              </div>
            </div>
          </aside>
        </div>
      </div>
    </section>
  </main>
{% endblock %}