{% extends 'frontend/frontend_base.html' %}
{% load static %}
{% block title %}
  Detalles de la cancha sintética
{% endblock %}

{% block css %}
  <link href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/5.10.1/main.min.css' rel='stylesheet'/>
{% endblock %}

{% block content %}
  <main id="vue_detail">
    <section class="pt-4 pt-md-5">
      <div class="container">
        <div class="row g-4 g-md-5">
          <div class="col-xl-9">
            <div class="container position-relative">
              <div class="row">
                <div class="col-12">
                  <div class="d-md-flex justify-content-md-between">
                    <div>
                      <h1 class="fs-3">{{ business.title }}</h1>
                      <ul class="nav nav-divider h6 text-body mb-0">
                        <li class="nav-item">{{ business.address }}</li>
                        <li class="nav-item">{{ business.district.title }}, {{ business.province.title }}
                          - {{ business.department.title }}</li>

                      </ul>
                    </div>
                    <ul class="list-inline text-end">
                      <!-- Heart icon -->
                      <li class="list-inline-item">
                        <a href="#" class="btn btn-sm btn-light px-2"><i class="fa-solid fa-fw fa-heart"></i></a>
                      </li>
                      <!-- Share icon -->
                      <li class="list-inline-item dropdown">
                        <!-- Share button -->
                        <a href="#" class="btn btn-sm btn-light px-2" role="button" id="dropdownShare"
                           data-bs-toggle="dropdown" aria-expanded="false">
                          <i class="fa-solid fa-fw fa-share-alt"></i>
                        </a>
                        <!-- dropdown button -->
                        <ul class="dropdown-menu dropdown-menu-end min-w-auto shadow rounded"
                            aria-labelledby="dropdownShare">
                          <li><a class="dropdown-item" href="#"><i class="fab fa-twitter-square me-2"></i>Twitter</a>
                          </li>
                          <li><a class="dropdown-item" href="#"><i class="fab fa-facebook-square me-2"></i>Facebook</a>
                          </li>
                          <li><a class="dropdown-item" href="#"><i class="fab fa-linkedin me-2"></i>LinkedIn</a></li>
                          <li><a class="dropdown-item" href="#"><i class="fa-solid fa-copy me-2"></i>Copy link</a></li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="row mt-md-5">
                <div class="col-12">
                  <div class="splide splide-main mb-3"
                       data-splide='{"type" : "fade","autoplay": true,"heightRatio":0.5,"pagination":false,"arrows":false,"cover":true,"lazyLoad":"sequential"}'>
                    <div class="splide__track">
                      <ul class="splide__list">
                        <li class="splide__slide rounded">
                          <img src="{{ business.image.url }}" alt="">
                          <a href="{{ business.image.url }}" class="stretched-link"
                             data-glightbox=""
                             data-gallery="banner">
                          </a>
                        </li>
                        {% for field in fields %}
                          <li class="splide__slide rounded">
                            <img src="{{ field.image.url }}" alt="">
                            <a href="{{ field.image.url }}" class="stretched-link"
                               data-glightbox=""
                               data-gallery="banner">
                            </a>
                          </li>
                        {% endfor %}

                        {% for image in images %}
                          <li class="splide__slide rounded">
                            <img src="{{ image.image.url }}" alt="">
                            <a href="{{ image.image.url }}" class="stretched-link"
                               data-glightbox=""
                               data-gallery="banner">
                            </a>
                          </li>
                        {% endfor %}

                      </ul>
                    </div>
                  </div>
                  <div class="splide splide-thumb"
                       data-splide='{"rewind":true,"fixedWidth":200,"fixedHeight":120,"isNavigation":true,"gap":20,"focus":"center","pagination":false,"cover":true,"lazyLoad":"sequential","breakpoints":{"600":{"fixedWidth":150,"fixedHeight":80}}}'>
                    <div class="splide__track">
                      <ul class="splide__list">

                        <li class="splide__slide"><img src="{{ business.image.url }}" alt="">
                        </li>
                        {% for field in fields %}
                          <li class="splide__slide"><img src="{{ field.image.url }}" alt="">
                          </li>
                        {% endfor %}

                        {% for image in images %}
                          <li class="splide__slide"><img src="{{ image.image.url }}" alt="">
                          </li>
                        {% endfor %}

                      </ul>
                    </div>
                    <!-- Arrows -->
                    <div class="splide__arrows">
                      <button class="splide__arrow  splide__arrow--prev p-splide__arrow--prev bg-primary"><span
                          class="spi-angle-left text-white"><i class="fa-solid fa-fw fa-angle-left"></i></span></button>
                      <button class="splide__arrow splide__arrow--next p-splide__arrow--next bg-primary"><span
                          class="spi-angle-right text-white"><i class="fa-solid fa-fw fa-angle-right"></i></span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card bg-transparent p-0">
              <div class="card-header bg-transparent pt-4 pt-md-5 pb-3">
                <h3 class="mb-0">Elige tu turno</h3>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-xl-12">

                    <form class="bg-mode shadow rounded-3 position-relative p-4 pe-md-5 pb-5 pb-md-4">
                      <div class="row g-4 align-items-center">
                        <!-- Location -->
                        <div class="col-lg-8">
                          <div class="form-control-border form-control-transparent form-fs-md d-flex">
                            <!-- Icon -->
                            <i class="bi bi-geo-alt fs-3 me-2 mt-2"></i>
                            <!-- Select input -->
                            <div class="flex-grow-1">
                              <label class="form-label">Cancha</label>
                              <select class="form-select" data-search-enabled="true" name="field"
                                      v-model="selectedField">
                                <option value="">Selecciona un campo</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>

                <div class="mt-3" id="calendar"></div>

              </div>

              <div class="card-header bg-transparent border-bottom pt-4 pt-md-5 pb-3">
                <h3 class="mb-0">Descripción</h3>
              </div>
              <div class="card-body p-0 pt-3">
                <div class="row">
                  <div class="col-16 col-md-6 col-lg-6">
                    <p class="mb-4">
                      {{ business.description }}
                    </p>
                  </div>
                  <div class="col-16 col-md-6 col-lg-6">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15540.639373249087!2d-74.2296709!3d-13.15231555!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2spe!4v1709394245948!5m2!1ses!2spe"
                        width="100%" height="220" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-12 col-md-6 col-sm-6">
                    <h5>Términos y condiciones</h5>
                    <ul class="list-group list-group-borderless mb-4">
                      <li class="list-group-item">
                        <span class="h6 mb-0 me-1">Tolerencia: </span>
                        <span class="h6 fw-light mb-0">10 minutos</span>
                      </li>
                      <li class="list-group-item">
                        <span class="h6 mb-0 me-1">Cancelar:</span>
                        <span class="h6 fw-light mb-0">Faltando 1 día</span>
                      </li>
                      <li class="list-group-item">
                        <span class="h6 mb-0 me-1">Devolición:</span>
                        <span class="h6 fw-light mb-0">Completo</span>
                      </li>
                    </ul>
                  </div>

                  <div class="col-12 col-md-6 col-sm-6">
                    <h5>Servicios ofrecidos</h5>
                    <ul class="list-group list-group-borderless mb-0">
                      {% for service in services %}
                        <li class="list-group-item h6 fw-light d-flex mb-0">
                          <i class="fa-solid fa-check-circle text-success me-2"></i>{{ service.name }}
                        </li>
                      {% empty %}
                        <p>No ofrece ningún servicio adicional</p>
                      {% endfor %}

                    </ul>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <aside class="col-xl-3">
            <div class="row g-4">
              <div class="col-md-6 col-xl-12">
                <div class="card card-body border bg-transparent">
                  <div class="hstack gap-2 mb-1">
                    <h3 class="card-title mb-0">{{ business_price_range }}</h3>
                  </div>

                  <div class="d-flex justify-content-between mb-4">
                    <ul class="list-inline mb-0">
                      <li class="list-inline-item me-1 h6 mb-0">4.5</li>
                      <li class="list-inline-item me-0 small"><i class="fa-solid fa-star text-warning"></i></li>
                      <li class="list-inline-item me-0 small"><i class="fa-solid fa-star text-warning"></i></li>
                      <li class="list-inline-item me-0 small"><i class="fa-solid fa-star text-warning"></i></li>
                      <li class="list-inline-item me-0 small"><i class="fa-solid fa-star text-warning"></i></li>
                      <li class="list-inline-item me-0 small"><i class="fa-solid fa-star-half-alt text-warning"></i>
                      </li>
                    </ul>
                    <a href="#" class="mb-0 m-0 text-reset text-primary-hover">(Calificaciones)</a>
                  </div>

                  <div class="d-grid gap-2">
                    <a href="#" class="btn btn-primary">Reservar ahora</a>
                  </div>

                </div>
              </div>
              <div class="col-md-6 col-xl-12">
                <div class="card card-body bg-light p-4">
                  <!-- Title -->
                  <h4 class="card-title">¿Necesitas ayuda?</h4>

                  <!-- List -->
                  <ul class="list-group list-group-borderless">
                    <li class="list-group-item py-3">
                      <a href="#" class="h6 mb-0">
                        <i class="bi fa-fw bi-telephone-forward text-primary fs-5 me-2"></i>
                        <span class="fw-light me-1">Llámanos:</span>918387410
                      </a>
                    </li>

                  </ul>
                </div>
              </div>
            </div>
          </aside>
        </div>
      </div>
      <div class="modal fade" id="bookingModal" tabindex="-1" aria-labelledby="bookingModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="bookingModalLabel">Confirmar Reserva</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p id="modalField">Cancha 1 futbol 5</p>
              <p id="modalTime">Desde 12pm hasta 24pm</p>
              <div id="modalDuration">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" id="continueButton" class="btn btn-success" onclick="goTo()">Continuar - S/</button>
            </div>
          </div>
        </div>
      </div>
    </section>

  </main>

{% endblock %}

{% block js %}
  <script src='{% static "frontend/detail_vue.js" %}'></script>
  <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script>

  <script>
      var fieldsData = {{ fields_json|safe }};
      var businessHours = {{ business_hours_json|safe }};
      let calendarEl = document.getElementById('calendar');
      let calendar;
      let fieldId = 0;

      function adjustDaysOfWeekForBusinessHours(businessHoursData) {
          return businessHoursData.map(entry => {
              const adjustedDaysOfWeek = entry.daysOfWeek.map(day => {
                  return day === 7 ? 0 : day;
              });
              return {...entry, daysOfWeek: adjustedDaysOfWeek};
          });
      }
      var adjustedBusinessHours = adjustDaysOfWeekForBusinessHours(businessHours);

      function goTo() {
          if (fieldId === 0) {
              alert("Selecciona una cancha")
              return
          }
          window.location.href = '/realizar-pago/' + fieldId + "/";
      }

      document.addEventListener('DOMContentLoaded', function () {
          const fieldSelect = document.querySelector('[name="field"]');
          fieldSelect.addEventListener('change', function () {
              console.log("Field id ", this.value);
              fieldId = this.value;
              localStorage.setItem('fieldId', this.value);
              fetchReservations(this.value);
          });

          const fieldChoices = new Choices(fieldSelect, {searchEnabled: true, itemSelectText: ''});
          fieldChoices.setChoices(fieldsData.map(location => ({
              value: location.id,
              label: location.name + " - " + location.price_range
          })), 'value', 'label', false);
          flatpickr(".flatpickr.fecha", {dateFormat: "Y-m-d"});
          flatpickr(".flatpickr.hora", {enableTime: true, noCalendar: true, dateFormat: "H:i"});

          initializeCalendar();
      });

      function calculatePrice(minutes) {
          var pricePerHour = 50;
          var price = (pricePerHour / 60) * minutes;
          return price.toFixed(2);
      }

      function fetchReservations(fieldId) {
          fetch('/api/bookings/', {
              method: 'POST',
              headers: {
                  'Content-Type': 'application/json',
              },
              body: JSON.stringify({fieldId: fieldId})
          })
              .then(response => response.json())
              .then(data => {
                  if (calendar) {
                      calendar.removeAllEvents(); // Remove all existing events
                      calendar.addEventSource(data); // Add new events
                  }
              })
              .catch(error => console.error('Error al cargar las reservas:', error));
      }

      function getFieldNameById(fieldId) {
          const field = fieldsData.find(field => field.id === parseInt(fieldId));
          return field ? field.name : 'Primero selecciona una cancha';
      }

      function initializeCalendar() {
          calendar = new FullCalendar.Calendar(calendarEl, {
              initialView: 'timeGridWeek',
              locale: 'es',
              timeZone: 'America/Lima',
              firstDay: 1,
              headerToolbar: {
                  left: 'prev,next',
                  center: 'title',
                  right: 'timeGridWeek'
              },
              buttonText: {
                  week: 'Semanal'
              },
              events: [],
              slotDuration: '00:30:00',
              slotLabelInterval: '01:00',
              selectable: true,
              selectHelper: true,
              selectOverlap: false,
              select: function (info) {
                  localStorage.setItem('startTime', info.startStr);
                  localStorage.setItem('endTime', info.endStr);

                  var duration = (info.end - info.start) / (1000 * 60);
                  var minutes = Math.round(duration);
                  document.getElementById('modalField').textContent = getFieldNameById(fieldId);
                  const startTime = new Date(info.startStr);
                  const endTime = new Date(info.endStr);
                  const startTimeFormatted = startTime.toLocaleTimeString('es-PE', {
                      hour: 'numeric',
                      minute: '2-digit',
                      hour12: true
                  });

                  const endTimeFormatted = endTime.toLocaleTimeString('es-PE', {
                      hour: 'numeric',
                      minute: '2-digit',
                      hour12: true
                  });

                  document.getElementById('modalTime').textContent = `Desde ${startTimeFormatted} hasta ${endTimeFormatted}`;
                  var modalDuration = document.getElementById('modalDuration');
                  modalDuration.innerHTML = `
                      <button class="btn btn-outline-secondary">${minutes} min</button>
                  `;

                  var continueButton = document.getElementById('continueButton');
                  continueButton.textContent = `Continuar - S/${calculatePrice(minutes)}`;

                  var bookingModal = new bootstrap.Modal(document.getElementById('bookingModal'));
                  bookingModal.show();
              },
              slotLabelFormat: {
                  hour: '2-digit',
                  minute: '2-digit',
                  hour12: false
              },
              businessHours: adjustedBusinessHours,
              selectConstraint: "businessHours",
              allDaySlot: false,
          });

          calendar.render();
      }
  </script>
{% endblock %}