{% load static %}
<footer class="bg-dark pt-5">
  <div class="container">
    <div class="row g-4">

      <div class="col-lg-3">
        <a href="index.html">
          <img class="h-40px" src="{% static 'dashboard/images/logo-light.svg' %}" alt="logo">
        </a>
        <p class="my-3 text-body-secondary">
          Reserva centros deportivos en un solo lugar desde donde quieras de manera fácil y rápida.
        </p>
        <p class="mb-2"><a href="#" class="text-body-secondary text-primary-hover">
          <i class="bi bi-telephone me-2"></i>+51 918387410</a></p>
        <p class="mb-0"><a href="#" class="text-body-secondary text-primary-hover"><i class="bi bi-envelope me-2"></i>freesport@gmail.com</a>
        </p>
      </div>
      <div class="col-lg-8 ms-auto">
        <div class="row g-4">
          <div class="col-4 col-md-4">
            <h5 class="text-white mb-2 mb-md-4">Sobre</h5>
            <ul class="nav flex-column text-primary-hover">
              <li class="nav-item"><a class="nav-link text-body-secondary" href="#">Nosotros</a></li>
              <li class="nav-item"><a class="nav-link text-body-secondary" href="#">Contáctenos</a></li>
              <li class="nav-item"><a class="nav-link text-body-secondary" href="#">Para negocios</a></li>
            </ul>
          </div>
          <div class="col-4 col-md-4">
            <h5 class="text-white mb-2 mb-md-4">Enlaces útiles</h5>
            <ul class="nav flex-column text-primary-hover">
              <li class="nav-item"><a class="nav-link text-body-secondary" href="#">Inicia sesión</a></li>
              <li class="nav-item"><a class="nav-link text-body-secondary" href="#">Regístrate</a></li>
            </ul>
          </div>

          <div class="col-4 col-md-4">
            <h5 class="text-white mb-2 mb-md-4">Ciudades</h5>
            <ul class="nav flex-column text-primary-hover">
              <li class="nav-item"><a class="nav-link text-body-secondary" href="#">Ayacucho</a></li>
              <li class="nav-item"><a class="nav-link text-body-secondary" href="#">Huanta</a></li>
              <li class="nav-item"><a class="nav-link text-body-secondary" href="#">Huancayo</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row g-4 justify-content-between mt-0 mt-md-2">

      <div class="col-sm-7 col-md-6 col-lg-4">
        <h5 class="text-white mb-2">Pagos seguros</h5>
        <ul class="list-inline mb-0 mt-3">
          <li class="list-inline-item"><a href="#"><img src="{% static 'dashboard/images/element/paypal.svg' %}"
                                                        class="h-30px"
                                                        alt=""></a></li>
          <li class="list-inline-item"><a href="#"><img src="{% static 'dashboard/images/element/visa.svg' %}"
                                                        class="h-30px" alt=""></a>
          </li>
          <li class="list-inline-item"><a href="#"><img src="{% static 'dashboard/images/element/mastercard.svg' %}"
                                                        class="h-30px"
                                                        alt=""></a></li>
          <li class="list-inline-item"><a href="#"><img src="{% static 'dashboard/images/element/expresscard.svg' %}"
                                                        class="h-30px"
                                                        alt=""></a></li>
        </ul>
      </div>

      <!-- Social media icon -->
      <div class="col-sm-5 col-md-6 col-lg-3 text-sm-end">
        <h5 class="text-white mb-2">Síguenos en:</h5>
        <ul class="list-inline mb-0 mt-3">
          <li class="list-inline-item"><a class="btn btn-sm px-2 bg-facebook mb-0" href="#"><i
              class="fab fa-fw fa-facebook-f"></i></a></li>
          <li class="list-inline-item"><a class="btn btn-sm shadow px-2 bg-instagram mb-0" href="#"><i
              class="fab fa-fw fa-instagram"></i></a></li>
          <li class="list-inline-item"><a class="btn btn-sm shadow px-2 bg-twitter mb-0" href="#"><i
              class="fab fa-fw fa-twitter"></i></a></li>
          <li class="list-inline-item"><a class="btn btn-sm shadow px-2 bg-linkedin mb-0" href="#"><i
              class="fab fa-fw fa-linkedin-in"></i></a></li>
        </ul>
      </div>
    </div>

    <!-- Divider -->
    <hr class="mt-4 mb-0">

    <!-- Bottom footer -->
    <div class="row">
      <div class="container">
        <div class="d-lg-flex justify-content-between align-items-center py-3 text-center text-lg-start">
          <!-- copyright text -->
          <div class="text-body-secondary text-primary-hover"> Copyrights © 2024. Desarrollado por <a
              href="#" class="text-body-secondary">Freesport</a>.
          </div>
          <!-- copyright links-->
          <div class="nav mt-2 mt-lg-0">
            <ul class="list-inline text-primary-hover mx-auto mb-0">
              <li class="list-inline-item me-0"><a class="nav-link text-body-secondary py-1" href="#">Políticas de
                privacidad</a>
              </li>
              <li class="list-inline-item me-0"><a class="nav-link text-body-secondary py-1" href="#">
                Términos y condiciones</a></li>
              <li class="list-inline-item me-0"><a class="nav-link text-body-secondary py-1 pe-0" href="#">
                Política de devoluciones</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>