{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}

  {% endblock %} | Freesport</title>

  <!-- Meta Tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="#57b28b">
  <meta name="author" content="freesport.pe">
  <meta name="description" content="Freesport - Reserva tus canchas sintéticas de manera fácil y online.">

  <!-- Dark mode -->
  <script>
      const storedTheme = localStorage.getItem('theme')

      const getPreferredTheme = () => {
          if (storedTheme) {
              return storedTheme
          }
          return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'
      }

      const setTheme = function (theme) {
          if (theme === 'auto' && window.matchMedia('(prefers-color-scheme: dark)').matches) {
              document.documentElement.setAttribute('data-bs-theme', 'dark')
          } else {
              document.documentElement.setAttribute('data-bs-theme', theme)
          }
      }

      setTheme(getPreferredTheme())

      window.addEventListener('DOMContentLoaded', () => {
          var el = document.querySelector('.theme-icon-active');
          if (el != 'undefined' && el != null) {
              const showActiveTheme = theme => {
                  const activeThemeIcon = document.querySelector('.theme-icon-active use')
                  const btnToActive = document.querySelector(`[data-bs-theme-value="${theme}"]`)
                  const svgOfActiveBtn = btnToActive.querySelector('.mode-switch use').getAttribute('href')

                  document.querySelectorAll('[data-bs-theme-value]').forEach(element => {
                      element.classList.remove('active')
                  })

                  btnToActive.classList.add('active')
                  activeThemeIcon.setAttribute('href', svgOfActiveBtn)
              }

              window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', () => {
                  if (storedTheme !== 'light' || storedTheme !== 'dark') {
                      setTheme(getPreferredTheme())
                  }
              })

              showActiveTheme(getPreferredTheme())

              document.querySelectorAll('[data-bs-theme-value]')
                  .forEach(toggle => {
                      toggle.addEventListener('click', () => {
                          const theme = toggle.getAttribute('data-bs-theme-value')
                          localStorage.setItem('theme', theme)
                          setTheme(theme)
                          showActiveTheme(theme)
                      })
                  })

          }
      })

  </script>

  <link rel="shortcut icon" href="{% static 'frontend/img/logo.ico' %}">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap">

  <link rel="stylesheet" type="text/css" href="{% static 'dashboard/vendor/font-awesome/css/all.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'dashboard/vendor/bootstrap-icons/bootstrap-icons.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'dashboard/vendor/tiny-slider/tiny-slider.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'dashboard/vendor/glightbox/css/glightbox.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'dashboard/vendor/splide-master/dist/css/splide.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'dashboard/vendor/choices/css/choices.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'dashboard/vendor/flatpickr/css/flatpickr.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'dashboard/vendor/nouislider/nouislider.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/style.css' %}">


  {% block css %}

  {% endblock %}


</head>

<body>

<!-- Header START -->
<header class="navbar-light header-sticky">
  <!-- Logo Nav START -->
  <nav class="navbar navbar-expand-xl">
    <div class="container">
      <!-- Logo START -->
      <nav class="navbar navbar-expand-lg navbar-light bg-white justify-content-center">
        <a class="navbar-brand d-flex align-items-center" href="{% url 'index' %}">
          <img class="light-mode-item navbar-brand-item" src="{% static 'frontend/img/freesport.png' %}" alt="logo">
          <img class="dark-mode-item navbar-brand-item d-none" src="{% static 'frontend/img/freesport.png' %}"
               alt="logo">
          <h4 class="text-primary ms-2 mb-0">Freesport</h4>
        </a>
      </nav>


      {% if not request.user.is_authenticated %}
        <div class="navbar-collapse collapse" id="navbarCategoryCollapse">
          <ul class="navbar-nav navbar-nav-scroll nav-pills-primary-soft text-center ms-auto p-2 p-xl-0">
            <li class="nav-item btn btn-primary-soft">
              <a class="nav-link" href="{% url 'login' %}"><i class="fa-solid fa-sign-in-alt me-2"></i>Inicia
                sesión</a>
            </li>
            <li class="nav-item btn btn-primary">
              <a class="nav-link" href="{% url 'signup' %}"><i class="fa-solid fa-user-plus me-2"></i>Regístrarte</a>
            </li>
          </ul>
        </div>
      {% endif %}
      <ul class="nav flex-row align-items-center list-unstyled ms-xl-auto">

        <li class="nav-item ms-3 dropdown">
          <a class="avatar avatar-xs p-0" href="#" id="profileDropdown" role="button" data-bs-auto-close="outside"
             data-bs-display="static" data-bs-toggle="dropdown" aria-expanded="false">
            <img class="avatar-img rounded-circle" src="{% static 'dashboard/images/avatar/01.jpg' %}" alt="avatar">
          </a>

          <ul class="dropdown-menu dropdown-animation dropdown-menu-end shadow pt-3"
              aria-labelledby="profileDropdown">

            <li class="px-3 mb-3">
              <div class="d-flex align-items-center">

                <div class="avatar shadow">
                  <img class="avatar-img rounded-circle shadow" src="{% static 'dashboard/images/avatar/01.jpg' %}"
                       alt="avatar">
                </div>
                {% if request.user.is_authenticated %}
                  <div>
                    <a class="h6 mt-2 mt-sm-0" href="#">{{ request.user.first_name }} {{ request.user.last_name }}</a>
                    <p class="small m-0">{{ request.user.email }}</p>
                  </div>
                {% else %}
                  <div>
                    <a class="h6 mt-2 mt-sm-0" href="#">Hola</a>
                    <p class="small m-0">Inicia o regístrate</p>
                  </div>
                {% endif %}


              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            {% if request.user.role == 2 %}

              <li>
                <a class="dropdown-item" href="{% url 'agent_bookings' %}"><i class="bi bi-book fa-fw me-2"></i>
                  Ingresar a calendario
                </a>
              </li>
            {% else %}
              <li>
                <a class="dropdown-item" href="{% url 'user-account' %}"><i class="bi bi-person fa-fw me-2"></i>Mi
                  cuenta</a>
              </li>
              <li>
                <a class="dropdown-item" href="{% url 'user-account-booking' %}"><i class="bi bi-book fa-fw me-2"></i>Mis
                  reservas</a>
              </li>
              <li>
                <a class="dropdown-item" href="{% url 'user-account-change-password' %}"><i
                    class="bi bi-eye fa-fw me-2"></i>Cambiar contraseña</a>
              </li>
            {% endif %}


            {% if request.user.is_authenticated %}
              <li><a class="dropdown-item bg-danger-soft-hover" href="{% url 'logout' %}"><i
                  class="bi bi-power fa-fw me-2"></i>Cerrar
                sesión</a>
              </li>
            {% endif %}

            <li>
              <hr class="dropdown-divider">
            </li>

            <!-- Dark mode options START -->
            <li>
              <div
                  class="nav-pills-primary-soft theme-icon-active d-flex justify-content-between align-items-center p-2 pb-0">
                <span>Modo:</span>
                <button type="button" class="btn btn-link nav-link text-primary-hover mb-0 p-0"
                        data-bs-theme-value="light" data-bs-toggle="tooltip" data-bs-placement="top"
                        data-bs-title="Claro">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                       class="bi bi-sun fa-fw mode-switch" viewBox="0 0 16 16">
                    <path
                        d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"/>
                    <use href="#"></use>
                  </svg>
                </button>
                <button type="button" class="btn btn-link nav-link text-primary-hover mb-0 p-0"
                        data-bs-theme-value="dark" data-bs-toggle="tooltip" data-bs-placement="top"
                        data-bs-title="Oscuro">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                       class="bi bi-moon-stars fa-fw mode-switch" viewBox="0 0 16 16">
                    <path
                        d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278zM4.858 1.311A7.269 7.269 0 0 0 1.025 7.71c0 4.02 3.279 7.276 7.319 7.276a7.316 7.316 0 0 0 5.205-2.162c-.337.042-.68.063-1.029.063-4.61 0-8.343-3.714-8.343-8.29 0-1.167.242-2.278.681-3.286z"/>
                    <path
                        d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z"/>
                    <use href="#"></use>
                  </svg>
                </button>
                <button type="button" class="btn btn-link nav-link text-primary-hover mb-0 p-0 active"
                        data-bs-theme-value="auto" data-bs-toggle="tooltip" data-bs-placement="top"
                        data-bs-title="Automático">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                       class="bi bi-circle-half fa-fw mode-switch" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z"/>
                    <use href="#"></use>
                  </svg>
                </button>
              </div>
            </li>
          </ul>
        </li>
      </ul>

    </div>
  </nav>
</header>
{% block content %}

{% endblock %}


{% include 'frontend/footer.html' %}

<div class="back-top"></div>
<script src="{% static 'dashboard/vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'dashboard/vendor/tiny-slider/tiny-slider.js' %}"></script>
<script src="{% static 'dashboard/vendor/glightbox/js/glightbox.js' %}"></script>
<script src="{% static 'dashboard/vendor/choices/js/choices.min.js' %}"></script>
<script src="{% static 'dashboard/vendor/splide-master/dist/js/splide.min.js' %}"></script>
<script src="{% static 'dashboard/vendor/flatpickr/js/flatpickr.min.js' %}"></script>
<script src="{% static 'dashboard/vendor/sticky-js/sticky.min.js' %}"></script>
<script src="{% static 'dashboard/vendor/nouislider/nouislider.min.js' %}"></script>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>


{% block js %}


{% endblock %}
<script src="{% static 'dashboard/js/functions.js' %}"></script>


</body>
</html>