{% extends 'frontend/frontend_base.html' %}
{% load static %}
{% block title %}
  Buscar
{% endblock %}

{% block content %}
  <main id="vue_search">
    <section class="bg-primary">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="form-control-bg-light bg-mode border p-4 rounded-3">
              <form class="row g-4 align-items-center" method="post">
                {% csrf_token %}
                <div class="col-xl-10">
                  <div class="row g-4">
                    <div class="col-md-6 col-xl-4">
                      <div class="form-size-lg">
                        <label class="form-label">Ciudad</label>
                        <select class="form-select" name="city" v-model="selectedCity">
                          <option value="">Selecciona una ciudad</option>

                        </select>
                      </div>
                    </div>
                    <div class="col-md-6 col-xl-3">
                      <div class="form-size-lg">
                        <label class="form-label">Deporte</label>
                        <select class="form-select" name="sport" v-model="selectedSport">
                          <option value="">Selecciona un deport</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6 col-xl-3">
                      <label class="form-label ">Fecha</label>
                      <input type="text" class="form-control form-control-lg flatpickr fecha" required
                             placeholder="Fecha" name="date" v-model="selectedDate">
                    </div>
                    <div class="col-md-6 col-xl-2">
                      <label class="form-label">Hora</label>
                      <input type="text" class="form-control form-control-lg flatpickr hora" required
                             data-enableTime="true" data-noCalendar="true" placeholder="Hora" name="time"
                             v-model="selectedTime">
                    </div>

                  </div>
                </div>
                <div class="col-xl-2 d-grid mt-xl-auto">
                  <button class="btn btn-lg btn-primary mb-0" @click.prevent="search">
                    Buscar <i class="bi bi-search"></i>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="pt-6">
      <div class="container position-relative">
        <div class="row">
          <div class="col-12">
            <div class="d-sm-flex justify-content-sm-between align-items-center">

              <div class="mb-2 mb-sm-0">
                <h1 class="fs-3 mb-2">[[ totalResults ]] lugares disponibles</h1>
              </div>

            </div>
          </div>
        </div>

      </div>
    </section>


    <section class="pt-0">
      <div class="container" data-sticky-container>
        <div class="vstack gap-4" v-for="result in searchResults" :key="result.field_id">
          <div class="card border p-4">
            <div class="card-body p-0">
              <div class="row g-2 g-sm-4 mb-4">
                <div class="col-md-4 col-xl-3">
                  <div class="bg-light rounded-3 px-4 py-5">
                    <img :src="result.business.image" alt="">
                  </div>
                </div>
                <div class="col-sm-6 col-md-4 col-xl-6">
                  <h4 class="card-title mb-2">
                    <a :href="getDetailUrl(result.business.id)" class="stretched-link">[[ result.business.title ]]</a>
                    <ul class="list-group list-group-borderless mb-0">
                      <li class="list-group-item d-flex pb-0 mb-0" v-for="service in result.business.services"
                          :key="service.id">
                        <span class="h6 fw-normal mb-0"><i class="bi bi-check-circle me-2"></i>[[ service.name ]]</span>
                      </li>
                    </ul>
                  </h4>
                </div>
                <div class="col-sm-6 col-md-4 col-xl-3 text-sm-end">
                  <p class="text-success mb-0">Disponible</p>
                  <ul class="list-inline mb-1">
                    <li class="list-inline-item h5 mb-0">[[ result.price_range ]]</li>
                  </ul>
                  <a href="#" class="btn btn-dark mb-0">Reservar</a>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>

  </main>
{% endblock %}

{% block js %}
  <script src="{% static 'frontend/search_vue.js' %}"></script>
  <script>
      var detailUrlBase = "{% url 'detail' id=0 %}";
  </script>

  <script>
      // Función para obtener el valor de un parámetro específico de la URL
      function getQueryParam(param) {
          var searchParams = new URLSearchParams(window.location.search);
          return searchParams.get(param);
      }

      document.addEventListener('DOMContentLoaded', function () {
          // Suponiendo que `locationsData` y `sportsData` están definidos en el contexto de la plantilla de Django
          var locationsData = {{ locations_json|safe }};
          var sportsData = {{ sports_json|safe }};

          // Función para obtener el valor de un parámetro específico de la URL
          function getQueryParam(param) {
              var searchParams = new URLSearchParams(window.location.search);
              return searchParams.get(param);
          }

          // Obtiene los valores de los parámetros de la URL
          const districtValue = getQueryParam('district');
          const sportValue = getQueryParam('sport');
          const dateValue = getQueryParam('date');
          const timeValue = getQueryParam('time') ? getQueryParam('time').replace('%3A', ':') : null; // Corrige el formato de la hora

          root_vue.selectedCity = districtValue
          const citySelectElement = document.querySelector('[name="city"]');
          const cityChoices = new Choices(citySelectElement, {searchEnabled: true, itemSelectText: ''});
          cityChoices.setChoices(locationsData.map(location => ({
              value: location.id,
              label: location.name,
              selected: location.id.toString() === districtValue // Marca como seleccionado si coincide
          })), 'value', 'label', false);

          root_vue.selectedSport = sportValue
          const sportSelectElement = document.querySelector('[name="sport"]');
          const sportChoices = new Choices(sportSelectElement, {searchEnabled: true, itemSelectText: ''});
          sportChoices.setChoices(sportsData.map(sport => ({
              value: sport.id,
              label: sport.name,
              selected: sport.id.toString() === sportValue
          })), 'value', 'label', false);

          root_vue.selectedDate = dateValue
          var datePicker = flatpickr(".flatpickr.fecha", {
              dateFormat: "Y-m-d",
              defaultDate: dateValue || null
          });

          root_vue.selectedTime = timeValue
          var timePicker = flatpickr(".flatpickr.hora", {
              enableTime: true,
              noCalendar: true,
              dateFormat: "H:i",
              minuteIncrement: 30,
              time_24hr: true,
              defaultDate: timeValue || null
          });

          if (root_vue.selectedDate !== null && root_vue.selectedTime !== null && root_vue.selectedCity !== null && root_vue.selectedSport !== null) {
              root_vue.search()
          }
      });

  </script>
{% endblock %}
