{% load static %}

<section class="pt-4">
  <div class="container">
    <div class="card rounded-3 border p-3 pb-2">
      <div class="d-sm-flex align-items-center">
        <div class="avatar avatar-xl mb-2 mb-sm-0">
          <img class="avatar-img rounded-circle" src="{% static 'dashboard/images/avatar/01.jpg' %}" alt="">
        </div>
        <h5 class="mb-2 mb-sm-0 ms-sm-3"><span class="fw-light">Hola,</span> {{ request.user.first_name }} {{ request.user.last_name }}</h5>
      </div>
    </div>
  </div>
</section>